.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  width: 100%;
  max-height: 88px;
  background-color: white;
  border-bottom: 1px solid #d9fff5;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.header__button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #ff3e79;
}

.header__logo {
  margin-left: 16px;
  margin-right: auto;
}

.header__button--divider::before {
  display: block;
  content: "";
  height: 32px;
  width: 2px;
  border-radius: 2px;
  background-color: #eaeaea;
  position: relative;
  right: 28px;
}

.header__button--left {
  margin-left: 16px;
}

.header__button--right {
  margin-right: 16px;
}

.header__button--burger {
  background-image: url("./images/svg/burger.svg");
  background-repeat: no-repeat;
}
.header__button--tools {
  background-image: url("./images/svg/tools.svg");
  background-repeat: no-repeat;
}
.header__button--search {
  background-image: url("./images/svg/search.svg");
  background-repeat: no-repeat;
}

.header__button--icon {
  background-position: center;
}
.header__button--icon:hover {
  background-color: #c7335f;
}

.main {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
}

.heading {
  position: relative;
  font-family: "TT Lakes";
  font-size: 28px;
  color: #1b1c21;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 24px;
  width: 288px;
  line-height: 40px;
}

.heading--highlight::before {
  display: block;
  content: " ";
  position: absolute;
  left: -12px;
  width: 4px;
  height: 100%;
  background: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navigation {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: scroll;
}

.menu {
  display: flex;
}

/* хром, сафари */
.navigation::-webkit-scrollbar {
  width: 0;
}

/* ie 10+ */
.navigation {
  -ms-overflow-style: none;
}

.menu__item {
  font-family: "TT Lakes";
  font-size: 16px;
  white-space: nowrap;
  border: 2px solid transparent;
}

.menu__link {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: #1b1c21;
}

.menu__item--active:active {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.menu__item--active:hover {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.menu__item--permanent-active {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
